aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
click==8.0.3
dataclasses==0.8
discord.py==1.7.3
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
multidict==5.2.0
python-dotenv==0.19.2
SQLAlchemy==1.4.29
typing_extensions==4.0.1
Werkzeug==2.0.2
WTForms==3.0.0
yarl==1.7.2
zipp==3.6.0
